@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
} */

html {
  scroll-behavior: smooth; /* Makes the jump to #work feel like a slide */
}

/* Add this to prevent the Navbar from covering the top of the section */
.scroll-mt-32 {
  scroll-margin-top: 8rem; 
}